.link
{
    float:left;
    width:6em;
    text-decoration:none;
    color:white;
    border: solid black 2px;
    background: #08245b ;
    padding:0.2em 0.6em;

}
.link:hover {
    background-color:#00FF0C;
    color:Navy; }




fieldset{
    float: left;
    width: 5%;
    margin-top: 250px;
}
#perfil{
    float: left;
    position: absolute;
    width: 5%;
    margin-top: 60px;

}