/* 
    Document   : menuBar
    Created on : 28/10/2013, 22:50:58
    Author     : jcrbsa
    Description:
        Purpose of the stylesheet follows.
*/

ul
{
float:left;
padding:0;
list-style-type:none;
/*margin-left: 35%;*/

}
.link
{
float:left;
width:6em;
text-decoration:none;
color:white;
border: solid black 2px;
background: #08245b ;
padding:0.2em 0.6em;

}
.link:hover {background-color:#ff3300;}
/*li {display:inline;}*/

fieldset {
    float: left;
    width: 5%;
    margin-top: 250px;

}